body {
  background: #f2f2f2;
}
.navbar.log {
  background: #00557d;
  height: auto;
}
.navbar.log .login a {
  color: #fff;
  cursor: pointer;
}
.form .login {
  margin: 205px auto 100px;
  width: 552px;
  overflow: hidden;
}
.form .login .control {
  position: relative;
}
.form .login .control input {
  border: 1px solid #bbb;
  height: 50px;
  margin-bottom: 14px;
  padding-left: 10px;
  width: 550px;
  box-sizing: border-box;
}
.form .login .control i {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 50px;
  right: 22px;
  top: 0;
  cursor: pointer;
  background: url("../imgs/secret.png") no-repeat center;
}
.form .login .control i.active {
  background: url("../imgs/show.png") no-repeat center;
}
.form .login .icon input {
  padding-left: 50px;
}
.form .login .number em {
  display: inline-block;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
  background: url("../imgs/email.png") no-repeat 10px;
}
.form .login .password {
  position: relative;
}
.form .login .password em {
  display: inline-block;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 10px;
  background: url("../imgs/password.png") no-repeat 13px;
}
.form .login .code {
  position: relative;
}
.form .login .code input {
  width: 330px;
}
.form .login .code span {
  position: absolute;
  right: 0;
  width: 200px;
  display: inline-block;
  height: 48px;
  border: 1px solid #bbb;
}
.form .login .code img {
  width: 202px;
  height: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.form .login ::-webkit-input-placeholder {
  font-size: 16px;
}
.form .login button {
  cursor: pointer;
  margin-top: 24px;
  height: 50px;
  width: 100%;
  display: inline-block;
  background: #00557d;
}
.form .login button a {
  display: inline-block;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}
.form .login button:active {
  background: #006ea2;
}
.form .login .bar {
  margin-top: 18px;
  position: relative;
}
.form .login .bar a {
  color: #00557d;
  font-size: 16px;
}
.form .login .bar .forget {
  position: absolute;
  right: 0;
}
.form .login .other .line {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.form .login .other .line p {
  color: #bbb;
  font-size: 16px;
  display: inline-block;
  z-index: 2;
  background: #fff;
  margin: auto;
  padding: 0 6px;
}
.form .login .other .line i {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 10px;
  z-index: -1;
  background: #bbb;
}
.form .login .other .list {
  margin-top: 50px;
}
.form .login .other .list a {
  display: inline-block;
  width: 36px;
  height: 38px;
  margin-right: 20px;
}
.form .login .other .list .google {
  background: url(../imgs/icon_google.png) no-repeat center;
}
.form .login .other .list .facebook {
  background: url(../imgs/icon_facebook.png) no-repeat center;
}
.form .login .other .list .linkedin {
  background: url(../imgs/icon_linkedin.png) no-repeat center;
}
.form .login .other .remember {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
.form .login .other .remember i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../imgs/radio.png) no-repeat center;
  margin-right: 10px;
  position: absolute;
  left: 220px;
  top: 4px;
}
.form .login .other .remember i.active {
  background: url(../imgs/radio_active.png) no-repeat center;
}
.form .login .other .remember span {
  margin-left: 20px;
  font-size: 16px;
}
.form .registration {
  margin: 205px auto 100px;
  width: 552px;
  overflow: hidden;
}
.form .registration .control input {
  border: 1px solid #bbb;
  height: 50px;
  margin-bottom: 14px;
  padding-left: 10px;
  width: 550px;
  box-sizing: border-box;
}
.form .registration .control i {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 50px;
  right: 22px;
  top: 0;
  background: url("../imgs/secret.png") no-repeat center;
}
.form .registration .control i.active {
  background: url("../imgs/show.png") no-repeat center;
}
.form .registration .icon input {
  padding-left: 50px;
}
.form .registration .password {
  position: relative;
}
.form .registration .code {
  position: relative;
}
.form .registration .code input {
  width: 330px;
}
.form .registration .code span {
  width: 200px;
  display: inline-block;
  height: 48px;
  border: 1px solid #bbb;
  position: absolute;
  right: 0;
}
.form .registration .code img {
  width: 202px;
  height: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.form .registration .verification .getVerificationText {
  width: 202px;
  position: absolute;
  right: 0;
  display: inline-block;
  background: #00557d;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
}
.form .registration .verification .getVerificationText.disabled {
  background: #ccc;
}
.form .registration ::-webkit-input-placeholder {
  font-size: 16px;
}
.form .registration button {
  margin-top: 24px;
  height: 50px;
  width: 100%;
  display: inline-block;
  background: #00557d;
}
.form .registration button a {
  display: inline-block;
  height: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}
.form .registration .bar {
  margin-top: 18px;
  position: relative;
}
.form .registration .bar a {
  color: #00557d;
  font-size: 16px;
}
.form .registration .bar .forget {
  position: absolute;
  right: 0;
}
.form .other .line {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.form .other .line p {
  color: #bbb;
  font-size: 16px;
  display: inline-block;
  z-index: 2;
  background: #fff;
  margin: auto;
  padding: 0 6px;
}
.form .other .line i {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  top: 10px;
  z-index: -1;
  background: #bbb;
}
.form .other .list {
  margin-top: 50px;
}
.form .other .list a {
  display: inline-block;
  width: 36px;
  height: 38px;
  margin-right: 20px;
}
.form .other .list .google {
  background: url(../imgs/icon_google.png) no-repeat center;
}
.form .other .list .facebook {
  background: url(../imgs/icon_facebook.png) no-repeat center;
}
.form .other .list .linkedin {
  background: url(../imgs/icon_linkedin.png) no-repeat center;
}
.form .other .remember {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
.form .other .remember i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../imgs/radio.png) no-repeat center;
  margin-right: 10px;
  position: absolute;
  left: 220px;
  top: 4px;
}
.form .other .remember span {
  margin-left: 20px;
  font-size: 16px;
}
.form .forget .control input {
  padding-left: 10px;
}
.form .forget .verification .getVerificationText {
  width: 202px;
  position: absolute;
  right: 0;
  display: inline-block;
  background: #00557d;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
}
.form .forget .verification .getVerificationText:active {
  background: #006ea2;
}
.form .forget .verification .getVerificationText.disabled {
  background: #ccc;
}
.protocol {
  background: #f2f2f2;
  color: #333;
}
.protocol .container {
  padding: 40px 22px;
}
.protocol .box {
  margin: 22px auto 126px;
}
.protocol .title {
  background: #fff;
  font-size: 20px;
  color: #5c5c5c;
  margin: 10px auto;
  padding: 10px 22px;
}
.protocol .info {
  background: #fff;
  padding: 40px 22px;
  line-height: 2;
}
.protocol p {
  margin-bottom: 15px;
}
.detailPage {
  background: #f2f2f2;
  padding: 40px 0;
}
.detailPage .box {
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}
.start:after {
  content: '';
  display: inline-block;
  width: 10000px;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: -1000px;
  top: 360px;
}
.details {
  width: 800px;
  margin: auto;
  padding: 0px 0 20px;
  position: relative;
}
.details .item {
  padding-bottom: 92px;
  position: relative;
}
.details .qrcodePage {
  display: none;
  text-align: center;
  font-size: 16px;
  margin: 100px auto;
}
.details .qrcodePage span {
  margin-right: 10px;
}
.details .qrcodePage input {
  border-bottom: 1px solid #ccc;
  width: 330px;
  text-align: center;
}
.details .qrcodePage .qrcode {
  margin-top: 66px;
}
.details .qrcodePage .qrcode .pic {
  width: 180px;
  margin: auto;
  height: 180px;
  margin-bottom: 20px;
}
.details .qrcodePage .qrcode img {
  width: 100%;
}
.details .pop {
  width: 500px;
  height: 250px;
  text-align: center;
  background: #f2f2f2;
  font-size: 16px;
  padding-top: 24px;
  box-sizing: border-box;
  display: none;
  margin: 100px auto;
}
.details .pop p {
  color: #00557d;
}
.details .pop .control {
  margin: 80px auto 50px;
}
.details .pop input {
  border: none;
  border-bottom: 1px solid #5c5c5c;
}
.details .pop button {
  cursor: pointer;
  color: #fff;
  letter-spacing: 1em;
  text-indent: 1em;
  background: #00557d;
  width: 160px;
  text-align: center;
  line-height: 30px;
}
.details .pop button:active {
  background: #006ea2;
}
.details .close {
  width: 500px;
  height: 250px;
  text-align: center;
  background: #f2f2f2;
  font-size: 16px;
  padding-top: 24px;
  box-sizing: border-box;
  display: none;
  position: relative;
  margin: 100px auto;
}
.details .close .pic {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
}
.details .close p {
  color: #00557d;
}
.details .close .control {
  margin: 20px auto 20px;
}
.details .close span {
  margin-right: 4px;
  width: 120px;
  display: inline-block;
}
.details .close input {
  border: none;
  border-bottom: 1px solid #5c5c5c;
}
.details .close button {
  cursor: pointer;
  color: #fff;
  letter-spacing: 1em;
  text-indent: 1em;
  background: #00557d;
  width: 160px;
  text-align: center;
  line-height: 30px;
}
.details .close button:active {
  background: #006ea2;
}
.details .state {
  display: none;
}
.details .state .pic {
  margin: auto;
  width: 54px;
  margin-top: 128px;
}
.details .state .pic img {
  width: 100%;
}
.details .state .info {
  margin: 48px auto 200px;
  color: #00557d;
  text-align: center;
}
.details .state .info p {
  font-size: 24px;
  margin-bottom: 20px;
}
.details .state .info a {
  cursor: pointer;
  color: #00557d;
  display: inline-block;
  margin: 0 25px;
}
.details .form {
  width: 395px;
  position: relative;
  margin-bottom: 98px;
}
.details .form .control {
  position: relative;
  margin-bottom: 60px;
}
.details .form .control span {
  width: 50px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  margin-right: 10px;
  font-size: 16px;
}
.details .form .control input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 330px;
  height: 30px;
}
.details .form .control button {
  cursor: pointer;
  background: #00557d;
  width: 330px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  position: absolute;
  right: 0;
  letter-spacing: 1em;
  text-indent: 1em;
}
.details .form .control button:active {
  background: #006ea2;
}
.details .item .qrcode {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0px;
}
.details .item .qrcode .pic {
  width: 174px;
  margin-bottom: 30px;
}
.details .item .qrcode .pic img {
  max-width: 100%;
}
.details .related {
  color: #00557d;
  margin-top: 20px;
}
.details .related p {
  margin-bottom: 30px;
}
.details .related span {
  width: 80px;
  display: inline-block;
}
.details .related a {
  margin-left: 30px;
  color: #e54b4b;
}
.details .installation {
  display: inline-block;
  color: #fff;
  cursor: context-menu;
  background: #00557d;
  padding: 4px 10px;
}
.main .content {
  margin: 24px auto 40px;
  background-color: #ffffff;
  width: 1200px;
}
.main .content ul {
  border-bottom: 1px solid #e5e5e5;
}
.main .content .title {
  margin-bottom: 60px;
}
.main .content .title li {
  line-height: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 67px;
  font-size: 16px;
  padding: 0 8px 0 8px;
}
.main .content .title li a {
  display: block;
}
.main .content .title li:first-child {
  margin-left: 40px;
}
.main .content .title .active {
  border-bottom: 3px solid #00557d;
  font-size: 24px;
}
.main .content .title .active a {
  color: #00557d;
}
.main .content .box {
  padding: 0px 50px;
}
.main .content .box .select {
  margin-bottom: 50px;
}
.main .content .box .select .j-container {
  margin-right: 40px;
}
.main .content .box .infoList {
  width: 100%;
  border: none;
  margin-bottom: 70px;
}
.main .content .box .infoList ul {
  border: none;
}
.main .content .box .infoList li {
  width: 33.33%;
  float: left;
}
.main .content .box .infoList .info {
  box-shadow: 0px -1px 10px #ccc;
  border-bottom: none;
  height: 200px;
  margin: 0 20px;
  border-radius: 4px;
  position: relative;
}
.main .content .box .infoList .info .text {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 14px;
  line-height: 1.6;
}
.main .content .box .infoList .info .text p span {
  display: inline-block;
  width: 40px;
  text-align-last: justify;
}
.main .content .box .infoList .info .text p:nth-child(1) {
  color: #ff820e;
}
.main .content .box .infoList .info .text p:nth-child(2) {
  color: #00557d;
}
.main .content .box .infoList li:nth-child(1) .info {
  background-size: cover;
  background: url(../imgs/info1.png) no-repeat center;
}
.main .content .box .infoList li:nth-child(2) .info {
  background-size: cover;
  background: url(../imgs/info2.png) no-repeat center;
}
.main .content .box .infoList li:nth-child(3) .info {
  background-size: cover;
  background: url(../imgs/info3.png) no-repeat center;
}
.main .content .box .form h3 {
  color: #00557d;
  font-size: 16px;
  margin-bottom: 20px;
}
.main .content .box .form table {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 3;
  margin-bottom: 10px;
}
.main .content .box .form table tr th {
  font-weight: 100;
}
.main .content .box .form table tr td em {
  color: #00557d;
}
.main .content .box .form table tr td a {
  display: inline-block;
  border: 1px solid #00557d;
  color: #00557d;
  padding: 6px 12px;
  line-height: 1;
}
.main .content .box .form table tr td select {
  border: 1px solid #00557d;
  color: #00557d;
}
.main .content .box .form table tr .failure em {
  color: #e54b4b;
}
.main .content .box .form table tr:first-child {
  background: #f2f2f2;
}
.main .content .box .j-container {
  width: 180px;
  background: #e5e5e5;
  border-radius: 2px;
  border: none;
}
.main .content .box .balance {
  display: inline-block;
  margin-left: 40px;
  font-size: 16px;
}
.main .content .box .balance span {
  color: #00557d;
}
.main .content .box .recharge {
  font-size: 16px;
  margin: 50px 0;
  line-height: 2;
  width: 800px;
  position: relative;
}
.main .content .box .recharge span {
  display: inline-block;
  margin-left: 100px;
}
.main .content .box .recharge span a {
  font-size: 14px;
  margin: 0 10px;
  color: #00557d;
}
.main .content .box .recharge #address {
  width: 400px;
  height: 21px;
  display: inline-block;
  padding-top: 18px;
  line-height: 32px;
  overflow: hidden;
}
.main .content .box .recharge #qrcode {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: -20px;
  left: 650px;
}
.main .content .box .recharge #qrcode.active {
  opacity: 1;
}
.main .content .box .recharge button {
  margin: 30px 0 0 200px;
}
.main .content .box .recharge img {
  width: 180px;
  position: absolute;
}
.main .content .box .recharge .control {
  position: relative;
  line-height: 20px;
  margin-bottom: 30px;
}
.main .content .box .recharge .control span {
  margin-left: 0;
  line-height: 20px;
}
.main .content .box .recharge .control input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  position: absolute;
  left: 80px;
  line-height: 20px;
  width: 520px;
}
.main .content .box .recharge .verification input {
  width: 280px;
}
.main .content .box .recharge .verification a {
  color: #00557d;
  position: absolute;
  right: 320px;
}
.main .content .box .recharge .verification em {
  color: #00557d;
  position: absolute;
  right: 200px;
}
.main .content .box .warning {
  color: #e54b4b;
  font-size: 14px;
  margin-top: 10px;
}
.main .content .box .description {
  line-height: 2;
  margin-bottom: 50px;
  text-align: left;
  padding-bottom: 40px;
}
.main .content .box .description h3 {
  color: #00557d;
  font-size: 16px;
  margin-bottom: 10px;
}
.main .content .box .verified {
  background: #f2f2f2;
  width: 500px;
  margin: auto;
  padding: 20px 0px;
  text-align: center;
  font-size: 16px;
}
.main .content .box .verified h3 {
  color: #00557d;
  text-align: center;
}
.main .content .box .verified .control {
  width: 280px;
  text-align: left;
  margin: auto;
  line-height: 3;
}
.main .content .box .verified .control .idCode {
  margin-right: 20px;
}
.main .content .box .verified .control input {
  border-bottom: 1px solid #ccc;
}
.main .content .box .verified button {
  margin-top: 20px;
  width: 160px;
  line-height: 30px;
  height: 30px;
}
.main .content .box .mobile {
  background: #f2f2f2;
  width: 500px;
  margin: auto;
  padding: 20px 0px;
  text-align: center;
  font-size: 16px;
  display: none;
}
.main .content .box .mobile h3 {
  color: #00557d;
  text-align: center;
}
.main .content .box .mobile .control {
  width: 300px;
  text-align: left;
  margin: auto;
  line-height: 3;
}
.main .content .box .mobile .control .idCode {
  margin-right: 20px;
}
.main .content .box .mobile .control input {
  border-bottom: 1px solid #ccc;
}
.main .content .box .mobile .mob input {
  width: 170px;
}
.main .content .box .mobile .cod input {
  width: 120px;
}
.main .content .box .mobile .cod a {
  font-size: 14px;
  color: #00557d;
}
.main .content .box .mobile button {
  margin-top: 20px;
  width: 160px;
  line-height: 30px;
  height: 30px;
}
.main .content .box .yesPass {
  display: none;
}
.main .content .box .pass {
  text-align: center;
}
.main .content .box .pass .info {
  margin: auto;
  color: #00557d;
  margin-top: 30px;
}
.main .content .box .pass .info a {
  display: inline-block;
  color: #00557d;
  margin: 10px 20px 0;
}
.main .content .box .pass h3 {
  font-size: 18px;
  color: #00557d;
  margin: 30px auto 10px;
}
.main .content .box .pass a {
  color: #00557d;
}
.main .content .box .notPass {
  display: none;
}
.main .content .box .passInfo {
  font-size: 16px;
  width: 340px;
  margin: auto;
  line-height: 3;
  display: none;
}
.main .content .box .passInfo h3 {
  font-size: 18px;
  color: #00557d;
  padding-left: 30px;
  background: url(../imgs/ok.png) no-repeat left;
}
.main .content .box .passInfo p em {
  display: inline-block;
  margin-left: 60px;
  color: #00557d;
}
.main .content .box .passInfo p .color {
  color: #00557d;
}
.main .content .box .passInfo button {
  margin-top: 50px;
}
.main .content .box .addPic {
  text-align: center;
  display: none;
}
.main .content .box .addPic .updata {
  margin-bottom: 80px;
}
.main .content .box .addPic .updata .button {
  display: inline-block;
  margin: 0 20px;
}
.main .content .box .addPic .updata .button a {
  display: block;
  color: #00557d;
  border: 1px solid #00557d;
  padding: 4px 50px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.main .content .box .addPic .updata .button span {
  display: block;
}
.main .content .box .addPic .updata .button input {
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 200px;
  width: 320px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
}
.main .content .box .addPic .updata .pic {
  width: 320px;
  height: 180px;
  display: inline-block;
  margin: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  overflow: hidden;
}
.main .content .box .addPic .updata .pic img {
  max-width: 100%;
}
.main .content .box .addPic button {
  margin: 40px auto;
  display: block;
}
.main .content .box .addPic .loading {
  display: none;
  text-align: center;
  margin: 50px auto;
}
.main .content .box .addPic .loading h3 {
  margin-top: 40px;
  font-size: 24px;
  color: #00557d;
}
.main .content .box .forgetPW {
  display: none;
}
.main .content .box .forgetPW .login {
  margin-top: 40px;
  padding-bottom: 50px;
}
.main .content .box .changePW {
  width: 600px;
  margin: auto;
  text-align: center;
  display: none;
  padding-bottom: 40px;
}
.main .content .box .changePW .control {
  width: 380px;
  margin: auto;
  line-height: 3;
}
.main .content .box .changePW .control span {
  display: inline-block;
  width: 96px;
  font-size: 16px;
  text-align-last: justify;
}
.main .content .box .changePW .control input {
  border-bottom: 1px solid #ccc;
  width: 270px;
}
.main .content .box .changePW button {
  height: 40px;
  margin-top: 30px;
  margin-left: 100px;
}
.main .content .box .changePW .forget {
  color: #00557d;
  display: block;
  margin-left: 100px;
  margin-top: 30px;
}
.main .content .box .changePW .warning {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  background: url(../imgs/prompt.png) no-repeat 100px;
}
.main .content .box .pw {
  width: 600px;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}
.main .content .box .pw .control {
  width: 380px;
  margin: auto;
  line-height: 3;
}
.main .content .box .pw .control span {
  display: inline-block;
  width: 96px;
  font-size: 16px;
  text-align-last: justify;
}
.main .content .box .pw .control input {
  border-bottom: 1px solid #ccc;
  width: 270px;
  height: 40px;
  line-height: 40px;
}
.main .content .box .pw button {
  height: 50px;
  line-height: 50px;
  margin-top: 40px;
  margin-left: 80px;
}
.main .content .box .pw .warning {
  height: 40px;
  margin-left: 50px;
  line-height: 40px;
  padding-left: 30px;
  background: url(../imgs/prompt.png) no-repeat 70px;
}
.main .content .option .h20 {
  height: 40px;
  background: #fff;
}
.main .content .option .title {
  position: relative;
  padding-left: 120px;
  height: 80px;
  margin-bottom: 0;
}
.main .content .option .title h3 {
  font-size: 28px;
  color: #00557d;
  padding-top: 10px;
}
.main .content .option .title p {
  color: #00557d;
  font-size: 12px;
}
.main .content .option .title a {
  display: inline-block;
  padding: 2px 14px;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
  background: #00557d;
}
.main .content .option .login {
  background: url(../imgs/login.png) no-repeat 40px #f2f2f2;
}
.main .content .option .transaction {
  background: url(../imgs/transaction.png) no-repeat 40px #f2f2f2;
}
.main .content .option .optList {
  line-height: 3;
  padding-bottom: 50px;
}
.main .content .option .optList li {
  padding-left: 120px;
  cursor: pointer;
  position: relative;
}
.main .content .option .optList li span {
  font-size: 14px;
  color: #999;
  display: none;
}
.main .content .option .optList li em {
  position: absolute;
  right: 30px;
  padding-left: 20px;
  background: url(../imgs/selected.png) no-repeat left;
  color: #00557d;
  top: 0;
  display: none;
}
.main .content .option .optList li:hover {
  background: #f2f2f2;
}
.main .content .option .optList .active {
  background: #f2f2f2;
}
.main .content .option .optList .active em {
  display: block;
}
.main .content .option .optList .selected {
  background: #ccc;
}
.main .content .option .optList .selected:hover {
  background: #ccc;
}
.main .content .invite .title h3 {
  padding-top: 20px;
}
.main .content .invite .title:nth-child(1) {
  background: url(../imgs/fun1.png) no-repeat 60px #f2f2f2;
}
.main .content .invite .title:nth-child(3) {
  background: url(../imgs/fun2.png) no-repeat 60px #f2f2f2;
}
.main .content .invite .title:nth-child(5) {
  background: url(../imgs/fun3.png) no-repeat 60px #f2f2f2;
}
.main .content .invite .item {
  padding: 50px 0 50px 120px;
  line-height: 3;
}
.main .content .invite .item span {
  display: inline-block;
  margin-bottom: 10px;
}
.main .content .invite .item .code {
  display: inline-block;
  padding: 2px 12px;
  color: #fff;
  background: #00557d;
}
.main .content .invite .item em {
  display: inline-block;
  margin-left: 40px;
  color: #006ea2;
  cursor: pointer;
}
.main .content .invite .item .pic {
  width: 200px;
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 50px;
}
.main .content .invite .item .pic img {
  max-width: 100%;
}
.main .content .invite .picCode {
  height: 280px;
  position: relative;
}
.main .content .invite .picCode em {
  margin-left: 240px;
  margin-right: 40px;
}
.main .content .invite .picCode p {
  margin-top: 80px;
  display: inline-block;
}
.main .helpLeft {
  float: left;
  width: 90px;
  padding-bottom: 100px;
}
.main .helpLeft ul {
  border: none;
}
.main .helpLeft li {
  height: 80px;
  text-align: center;
  margin-bottom: 30px;
}
.main .helpLeft li a {
  display: block;
  height: 80px;
}
.main .helpLeft li a span {
  display: inline-block;
  margin-top: 80px;
}
.main .helpLeft li:hover a {
  color: #8ac4f4;
}
.main .helpLeft li:nth-child(1) a {
  background: url(../imgs/help_icon1.png) no-repeat center;
}
.main .helpLeft li:nth-child(1):hover a {
  background: url(../imgs/help_icon2.png) no-repeat center;
}
.main .helpLeft li:nth-child(1).active a {
  background: url(../imgs/help_icon2.png) no-repeat center;
}
.main .helpLeft li:nth-child(2) a {
  background: url(../imgs/help_icon3.png) no-repeat center;
}
.main .helpLeft li:nth-child(2):hover a {
  background: url(../imgs/help_icon4.png) no-repeat center;
}
.main .helpLeft li:nth-child(2).active a {
  background: url(../imgs/help_icon4.png) no-repeat center;
}
.main .helpLeft li:nth-child(3) a {
  background: url(../imgs/help_icon5.png) no-repeat center;
}
.main .helpLeft li:nth-child(3):hover a {
  background: url(../imgs/help_icon6.png) no-repeat center;
}
.main .helpLeft li:nth-child(3).active a {
  background: url(../imgs/help_icon6.png) no-repeat center;
}
.main .helpLeft li:nth-child(4) a {
  background: url(../imgs/help_icon7.png) no-repeat center;
}
.main .helpLeft li:nth-child(4):hover a {
  background: url(../imgs/help_icon8.png) no-repeat center;
}
.main .helpLeft li:nth-child(4).active a {
  background: url(../imgs/help_icon8.png) no-repeat center;
}
.main .helpLeft li:nth-child(5) a {
  background: url(../imgs/help_icon9.png) no-repeat center;
}
.main .helpLeft li:nth-child(5):hover a {
  background: url(../imgs/help_icon10.png) no-repeat center;
}
.main .helpLeft li:nth-child(5).active a {
  background: url(../imgs/help_icon10.png) no-repeat center;
}
.main .helpLeft li:nth-child(6) a {
  background: url(../imgs/help_icon11.png) no-repeat center;
}
.main .helpLeft li:nth-child(6):hover a {
  background: url(../imgs/help_icon12.png) no-repeat center;
}
.main .helpLeft li:nth-child(6).active a {
  background: url(../imgs/help_icon12.png) no-repeat center;
}
.main .helpLeft li:nth-child(7) a {
  background: url(../imgs/help_icon13.png) no-repeat center;
}
.main .helpLeft li:nth-child(7):hover a {
  background: url(../imgs/help_icon14.png) no-repeat center;
}
.main .helpLeft li:nth-child(7).active a {
  background: url(../imgs/help_icon14.png) no-repeat center;
}
.main .helpRight {
  width: 1100px;
  float: right;
  position: relative;
}
.main .helpRight ul {
  padding: 0 -100px;
}
.main .helpRight li {
  float: left;
  width: 33.333%;
}
.main .helpRight li .item {
  margin: 30px 46px;
  font-size: 16px;
  height: 300px;
  position: relative;
}
.main .helpRight li .item .befor {
  background: #8ac4f4;
  height: 100%;
  position: relative;
}
.main .helpRight li .item .pic {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
}
.main .helpRight li .item h3 {
  display: inline-block;
  text-align: center;
  border: 1px solid #00557d;
  border-radius: 20px;
  padding: 8px 20px;
  color: #00557d;
  position: absolute;
  top: 230px;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.main .helpRight li .item .info {
  line-height: 2.4;
  text-align: left;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 40px;
  padding-left: 50px;
  height: 200px;
  overflow: hidden;
}
.main .helpRight li .item .info a {
  display: block;
  color: #00557d;
}
.main .helpRight li .item .more {
  position: absolute;
  right: 80px;
  bottom: -10px;
  font-size: 16px;
  color: #00557d;
}
.main .helpRight li .item:hover {
  margin: 30px 36px;
  text-align: center;
  position: relative;
}
.main .helpRight li .item:hover .befor {
  background: url(../imgs/item_bg.png) no-repeat center;
  background-size: cover;
}
.main .helpRight li .item:hover .pic {
  display: none;
}
.main .helpRight li .item:hover h3 {
  display: none;
}
.main .helpRight li .item:hover .info {
  opacity: 1;
}
.main .helpRight::after {
  content: '';
  display: inline-block;
  height: 10000px;
  width: 10px;
  background: #f2f2f2;
  position: absolute;
  left: -10px;
  z-index: 9;
  top: 0;
}
.main .titleList {
  width: 1100px;
  float: right;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}
.main .titleList h3 {
  font-size: 24px;
  color: #00557d;
}
.main .titleList .time {
  position: absolute;
  right: 40px;
  top: 50px;
}
.main .titleList .details {
  margin-top: 50px;
}
.main .titleList .list {
  margin: 40px 0;
}
.main .titleList .list ul {
  border: none;
}
.main .titleList .list li {
  position: relative;
  float: none;
  width: 100%;
  line-height: 3;
}
.main .titleList .list li a {
  font-size: 16px;
  display: block;
  position: relative;
  padding-left: 20px;
}
.main .titleList .list li a span {
  position: absolute;
  right: 0;
}
.main .titleList .list li:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #8ac4f4;
  position: absolute;
  left: 0;
  top: 22px;
  border-radius: 50px;
}
.layui-layer-title {
  text-align: center;
  margin: auto;
  padding: 0 !important;
}
.layui-layer-dialog .layui-layer-content {
  text-align: center;
  font-size: 20px !important;
}
.layui-layer-btn .layui-layer-btn0 {
  background: #00557d !important;
  border: none;
}
