@import "base.css";
body {
  background-color: #f2f2f2;
}
.navbar {
  background-color: #00557d;
}
.navbar .top_list ul li a {
  color: #ffffff;
}
.navbar .login ul li a {
  color: #ffffff;
}
.main .content {
  margin: 24px auto 40px;
  background-color: #ffffff;
  width: 1200px;
}
.main .content ul {
  border-bottom: 1px solid #e5e5e5;
}
.main .content .title li {
  line-height: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 67px;
  font-size: 16px;
  padding: 0 8px 0 8px;
}
.main .content .title li:first-child {
  margin-left: 40px;
}
.main .content .title .active {
  border-bottom: 3px solid #00557d;
  font-size: 24px;
}
.main .content .title .active a {
  color: #00557d;
}
.main .content .autonym {
  padding-bottom: 86px;
  padding-top: 58px;
  padding-left: 165px;
  position: relative;
}
.main .content .autonym .bg img {
  width: 870px;
  height: 448px;
}
.main .content .autonym .autonym_text {
  position: absolute;
  left: 615px;
  top: 120px;
}
.main .content .autonym .autonym_text p {
  line-height: 40px;
  font-size: 16px;
  color: #5e5e5e;
}
.main .content .autonym .autonym_text p span:last-child {
  margin-left: 28px;
}
.main .content .autonym .autonym_text h5 {
  color: #a9a9a9;
  font-size: 12px;
  line-height: 47px;
}
.main .content .autonym .autonym_text input {
  width: 270px;
  height: 50px;
  margin-top: 44px;
  background-color: #1d9fe0;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.main .content .play {
  text-align: center;
}
.main .content .play .play_img {
  margin: 78px 560px 48px;
}
.main .content .play .play_img img {
  width: 80px;
  height: 80px;
}
.main .content .play h3 {
  color: #00557d;
  font-size: 24px;
  line-height: 72px;
}
.main .content .play p {
  font-size: 12px;
  color: #a9a9a9;
  line-height: 24px;
}
.main .content .play input {
  width: 270px;
  height: 50px;
  margin-top: 100px;
  background-color: #00557d;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 92px;
}
.main .content .robot {
  padding-bottom: 84px;
}
.main .content .robot .form {
  padding: 127px 0 70px 225px;
}
.main .content .robot .form .danger-tips {
  color: red;
  font-size: 14px;
  line-height: 28px;
  margin-left: 118px;
  position: absolute;
  top: 100px;
  left: 224px;
  display: none;
}
.main .content .robot .form .list_item {
  padding-bottom: 5px;
}
.main .content .robot .form label {
  font-size: 16px;
  color: #5e5e5e;
  margin-right: 28px;
}
.main .content .robot .form input {
  display: inline-block;
  width: 640px;
  height: 40px;
  border: 1px solid #bbbbbb;
  padding-left: 12px;
  border-radius: 2px;
}
.main .content .robot .form ::-webkit-input-placeholder {
  /*Webkit browsers*/
  color: #bbbbbb;
  font-size: 14px;
}
.main .content .robot .form :-moz-placeholder {
  /*Mozilla Firefox 4 to 8*/
  color: #bbbbbb;
  font-size: 14px;
}
.main .content .robot .form ::moz-placeholder {
  /*Mozilla Firefox 19+*/
  color: #bbbbbb;
  font-size: 14px;
}
.main .content .robot .form :-ms-input-placeholder {
  /*Internet Explorer 10+*/
  color: #bbbbbb;
  font-size: 14px;
}
.main .content .robot .form .list_select {
  margin-top: 12px;
  position: relative;
}
.main .content .robot .form .list_select span {
  position: absolute;
  line-height: 44px;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #5e5e5e;
}
.main .content .robot .form .list_select .j-container {
  left: 104px;
  top: 1;
}
.main .content .robot .form .strategy_params {
  margin-top: 12px;
  position: relative;
}
.main .content .robot .form .strategy_params span {
  position: relative;
  display: inline-block;
  line-height: 44px;
  left: 0;
  top: -184px;
  font-size: 16px;
  color: #5e5e5e;
}
.main .content .robot .form .strategy_params .params_content {
  position: relative;
  display: inline-block;
  left: 28px;
  top: 0px;
  width: 652px;
  height: 232px;
  border: 1px solid #bbbbbb;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: 14px;
}
.main .content .robot .form .strategy_params .params_content p {
  padding: 11px 0 11px 12px;
  border-bottom: 1px solid #bbbbbb;
}
.main .content .robot .form .strategy_params .params_content h5 {
  line-height: 40px;
  padding-left: 24px;
}
.main .content .robot .form .strategy_params .params_content .j-container {
  width: 622px!important;
  margin-left: 13px;
}
.main .content .robot .form .btn {
  margin: 35px 0 0 104px;
}
.main .content .robot .form .btn button {
  font-size: 14px;
  line-height: 38px;
  width: 102px;
  height: 38px;
  color: #5e5e5e;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  margin-right: 24px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ddd8d8;
}
.main .content .robot .form .btn button:active {
  color: #5e5e5e;
  opacity: 0.5;
}
.main .content .robot .form .btn .btn_stop {
  background-color: #00557d;
  color: #ffffff;
}
.main .content .robot .robot_title {
  height: 62px;
  line-height: 62px;
  border-top: 1px solid #e5e5e5;
  font-size: 16px;
  padding: 0 123px;
}
.main .content .robot .robot_title span:nth-child(1) {
  margin-right: 140px;
}
.main .content .robot .robot_title span:nth-child(2) {
  margin-right: 140px;
}
.main .content .robot .robot_title span:nth-child(3) {
  margin-right: 120px;
}
.main .content .robot .robot_title span:nth-child(4) {
  margin-right: 212px;
}
.main .content .robot .robot_title span:nth-child(5) {
  margin-right: 140px;
}
.main .content .robot ul {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}
.main .content .robot ul li {
  line-height: 62px;
  border-top: 1px solid #e5e5e5;
  padding: 0 47px;
}
.main .content .robot ul li span {
  display: inline-block;
}
.main .content .robot ul li span:nth-child(1) {
  width: 230px;
}
.main .content .robot ul li span:nth-child(2) {
  width: 194px;
}
.main .content .robot ul li span:nth-child(3) {
  width: 155px;
}
.main .content .robot ul li span:nth-child(4) {
  width: 253px;
}
.main .content .robot ul li span:nth-child(5) {
  width: 176px;
}
.main .content .addmoney {
  width: 624px;
  margin: 75px auto;
  padding-bottom: 95px;
}
.main .content .addmoney .wallet_item {
  margin-bottom: 40px;
}
.main .content .addmoney .wallet_item span {
  font-size: 16px;
  color: #5e5e5e;
  margin-right: 20px;
}
.main .content .addmoney .wallet_item input {
  font-size: 16px;
  color: #5e5e5e;
  border-bottom: 1px solid #e5e5e5;
}
.main .content .addmoney .wallet_item .wall_select {
  position: relative;
  left: 90px;
  top: 0px;
}
.main .content .addmoney .wallet_item .wall_select .j-container {
  width: 518px;
  border: 1px solid #e5e5e5e5;
}
.main .content .addmoney .wallet_item .wall_select .j-container .j-select-arrrowDown::after {
  border-color: #747474;
  z-index: 9999;
}
.main .content .addmoney .wallet_item .wall_select .j-container div {
  background-color: #e5e5e5e5;
  border-color: #e5e5e5e5;
}
.main .content .addmoney .wallet_item .wall_text {
  position: relative;
  top: 30px;
  left: 0;
}
.main .content .addmoney .wallet_btn {
  margin-left: 166px;
  margin-top: 100px;
}
.main .content .addmoney_address {
  padding-bottom: 93px;
}
.main .content .addmoney_address .address_title {
  margin-top: 34px;
}
.main .content .addmoney_address .address_title .j-container {
  width: 178px;
  height: 34px;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.main .content .addmoney_address .address_title .j-container .j-select-arrrowDown {
  top: -2px;
  right: -10px;
}
.main .content .addmoney_address .address_title .input {
  margin-left: 48px;
  display: inline-block;
  position: relative;
  top: 10px;
}
.main .content .addmoney_address .address_title span {
  margin-left: 156px;
  font-size: 16px;
  line-height: 34px;
}
.main .content .addmoney_address ul {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 16px;
}
.main .content .addmoney_address ul li {
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
}
.main .content .addmoney_address ul li span {
  display: inline-block;
  line-height: 56px;
}
.main .content .addmoney_address ul li span:nth-child(1) {
  width: 306px;
  padding-left: 86px;
  box-sizing: border-box;
}
.main .content .addmoney_address ul li span:nth-child(2) {
  width: 230px;
  text-align: center;
}
.main .content .addmoney_address ul li span:nth-child(3) {
  width: 215px;
  text-align: center;
}
.main .content .addmoney_address ul li span:nth-child(4) {
  width: 234px;
  text-align: center;
}
.main .content .addmoney_address ul li span:nth-child(5) {
  width: 176px;
  text-align: center;
}
.main .content .addmoney_address .address_btn {
  margin-top: 98px;
  margin-left: 465px;
}
.main .content .pay_bind .bank_title {
  background-color: #f2f2f2;
}
.main .content .pay_bind .bank_title span {
  font-size: 16px;
  line-height: 70px;
  display: inline-block;
}
.main .content .pay_bind .bank_title span:nth-child(1) {
  margin-left: 52px;
  margin-right: 52px;
}
.main .content .pay_bind .bank_title span:nth-child(3) {
  margin-left: 55px;
  margin-right: 55px;
}
.main .content .pay_bind .bank_title span:nth-child(5) {
  margin-left: 86px;
  margin-right: 115px;
}
.main .content .pay_bind .bank_title span:nth-child(7) {
  margin-left: 146px;
  margin-right: 110px;
}
.main .content .pay_bind .bank_list li {
  line-height: 56px;
  height: 56px;
}
.main .content .pay_bind .bank_list li span {
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
.main .content .pay_bind .bank_list li span:nth-child(1) {
  width: 96px;
  padding-left: 12px;
}
.main .content .pay_bind .bank_list li span:nth-child(2) {
  width: 117px;
}
.main .content .pay_bind .bank_list li span:nth-child(3) {
  width: 122px;
}
.main .content .pay_bind .bank_list li span:nth-child(4) {
  width: 132px;
}
.main .content .pay_bind .bank_list li span:nth-child(5) {
  width: 172px;
}
.main .content .pay_bind .bank_list li span:nth-child(6) {
  width: 208px;
}
.main .content .pay_bind .bank_list li span:nth-child(7) {
  width: 220px;
}
.main .content .pay_bind .bank_list li span:nth-child(8) {
  width: 96px;
  color: #00557d;
  cursor: pointer;
}
.main .content .pay_bind .pay_type {
  padding: 84px 0px 40px 48px;
}
.main .content .pay_bind .pay_type span {
  font-size: 30px;
  color: #00557d;
}
.main .content .pay_bind .pay_type span img {
  width: 48px;
  height: 36px;
  margin-right: 15px;
  vertical-align: bottom;
}
.main .content .pay_bind .pay_type span .alipay_img {
  height: 48px;
  vertical-align: middle;
}
.main .content .pay_bind .bankcard_add {
  margin: 75px 0 0 464px;
}
.main .content .pay_bind .wechat {
  padding-bottom: 55px;
}
.main .content .pay_bind .alipay .title li,
.main .content .pay_bind .alipay .lsit li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.main .content .pay_bind .alipay .title li span,
.main .content .pay_bind .alipay .lsit li span {
  display: inline-block;
  text-align: center;
}
.main .content .pay_bind .alipay .title li span:nth-child(1),
.main .content .pay_bind .alipay .lsit li span:nth-child(1) {
  width: 143px;
}
.main .content .pay_bind .alipay .title li span:nth-child(2),
.main .content .pay_bind .alipay .lsit li span:nth-child(2) {
  width: 221px;
}
.main .content .pay_bind .alipay .title li span:nth-child(3),
.main .content .pay_bind .alipay .lsit li span:nth-child(3) {
  width: 195px;
}
.main .content .pay_bind .alipay .title li span:nth-child(4),
.main .content .pay_bind .alipay .lsit li span:nth-child(4) {
  width: 230px;
}
.main .content .pay_bind .alipay .title li span:nth-child(5),
.main .content .pay_bind .alipay .lsit li span:nth-child(5) {
  width: 232px;
}
.main .content .pay_bind .alipay .title li span:nth-child(6),
.main .content .pay_bind .alipay .lsit li span:nth-child(6) {
  width: 154px;
}
.main .content .pay_bind .alipay .title {
  background-color: #f2f2f2;
  border: none;
}
.main .content .pay_bind .alipay .title li {
  height: 69px;
  line-height: 69px;
}
.main .content .pay_bind .alipay .lsit li {
  height: 69px;
  line-height: 69px;
}
.main .content .pay_bind .alipay .lsit li span:nth-child(6),
.main .content .pay_bind .alipay .lsit li span:nth-child(4) {
  cursor: pointer;
  color: #00557d;
}
.main .content .addmoney .bank_label {
  display: inline-block;
}
.main .content .addmoney .bank_label:first-child {
  margin-right: 74px;
}
.main .content .addmoney .bank_label:first-child span {
  font-size: 16px;
  text-align: right;
  margin-right: 31px;
}
.main .content .addmoney .bank_label input {
  width: 176px;
}
.main .content .alipay .wallet_item input {
  width: 500px;
}
.main .content .alipay .alipay_name {
  margin-top: 160px;
}
.main .content .alipay .alipay_name input {
  width: 484px;
}
.main .content .alipay .alipay_btn {
  margin-top: 24px;
}
.main .content .alipay .file_input span {
  top: -24px;
  left: 0;
  line-height: 44px;
}
.main .content .alipay .file_input .updataImg {
  position: relative;
  left: 108px;
  top: -39px;
}
.main .content .alipay .file_input .updataImg input,
.main .content .alipay .file_input .updataImg a {
  cursor: pointer;
  width: 502px;
  height: 34px;
  border-radius: 4px;
  display: block;
  background-color: #e5e5e5e5;
}
.main .content .alipay .file_input .updataImg input {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0;
  background-color: black;
}
.main .content .alipay .file_input .updataImg a {
  line-height: 34px;
  text-align: center;
  opacity: 1;
}
.main .content .alipay .file_input .updataImg .img {
  display: none;
  margin-left: 35px;
  margin-top: 30px;
}
.main .content .alipay .file_input .updataImg .img img {
  width: 430px;
  height: 430px;
}
.main .content .alipay .alipay_btn {
  margin-left: 223px;
}
.main .content .message_head {
  height: 212px;
  margin-top: 56px;
  margin-left: 50px;
}
.main .content .message_head .box {
  display: inline-block;
  vertical-align: middle;
}
.main .content .message_head .box img {
  width: 83px;
  height: 96px;
}
.main .content .message_head .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}
.main .content .message_head .text p {
  font-size: 16px;
  color: #5e5e5e;
  line-height: 34px;
}
.main .content .message_head .text p .danger {
  color: #e54b4b;
  margin-left: 16px;
}
.main .content .message_head .text h5 {
  font-size: 12px;
  color: #5e5e5e;
  line-height: 34px;
}
.main .content .message_body {
  padding: 78px 0 89px 182px;
  border-top: 1px solid #e5e5e5e5;
}
.main .content .message_body .list {
  border: none;
}
.main .content .message_body .list li {
  font-size: 16px;
  line-height: 48px;
  height: 48px;
}
.main .content .message_body .list li span {
  display: inline-block;
}
.main .content .message_body .list li span:nth-child(2) {
  width: 160px;
  margin-left: 30px;
}
.main .content .message_body .list li span:nth-child(3) {
  width: 350px;
}
.main .content .message_body .list li img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
.main .content .message_body .list li a {
  color: #00557d;
}
